<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google" value="notranslate">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <style>
      #splash {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
      }
      .tw-loaded #splash { display: none; }
      #splash[splash-theme="dark"] {
        background-color: #333;
        color: #fff;
      }
    </style>
  </head>
  <body>
    <div id="splash"></div>
    <script>
      (function() {
        try {var localTheme = localStorage.getItem('tw:theme');} catch (e) {}
        if (localTheme ? localTheme === 'dark' : window.matchMedia('(prefers-color-scheme: dark)').matches) document.querySelector('#splash').setAttribute('splash-theme', 'dark');
      })();
    </script>
    <div id="app"></div>
  </body>
</html>
