.container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.editor {
    min-width: 1024px;
    min-height: 640px;
    height: 100%;
}
.editor .center {
    height: 100%;
}

.player-only .center {
    margin: auto;
}

.menu {
    margin-bottom: 8px;
}

[theme="dark"] .player-only {
    color: #ddd;
}
[theme="dark"] a {
    color: #4af;
}
